# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.sdf
*.sln
*.suo
*.pdb
*.ilk
*.vcxproj
*.filters
*.tlog
*.log
*.lastbuildstate
*.idb
*.user

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.app